div.wp-block-catenis-blocks-message-history div.error {
    display: none;
    margin-top: 2em
}

div.wp-block-catenis-blocks-message-history div.error > p.error {
    color: crimson
}

div.wp-block-catenis-blocks-message-history div.noctnapiproxy {
    border: 1px solid red;
    padding: 2em;
    text-align: center;
    color: crimson;
    display: none
}

div.wp-block-catenis-blocks-message-history div.header {
    color: gray;
    text-align: right;
    padding: 0 0.5em 0 0.5em
}

div.wp-block-catenis-blocks-message-history div.header span.icon {
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

div.wp-block-catenis-blocks-message-history div.header span.icon svg {
    position: relative;
    z-index: -1;
    margin-bottom: -0.2em;
}

div.wp-block-catenis-blocks-message-history div.header span.icon.disabled {
    color: lightgray;
    cursor: default;
}

div.wp-block-catenis-blocks-message-history div.header span.page-number {
    font-size: 80%;
    margin: 0 0.2em 0 0.2em
}

div.wp-block-catenis-blocks-message-history div.header span.page-number input[type="text"] {
    height: 1.8em;
    width: 2.5em;
    padding: 0 0.2em 0.2em 0.2em;
    text-align: center;
    color: gray;
    border-color: gray;
}

div.wp-block-catenis-blocks-message-history div.header span.page-number span.max-page {
}

div.wp-block-catenis-blocks-message-history div.header div.left-overlay {
    position: absolute;
    x: 0;
    y: 0;
}

div.wp-block-catenis-blocks-message-history table {
    font-size: 70%
}

div.wp-block-catenis-blocks-message-history table th {
    word-wrap: normal;
    word-break: normal;
}

div.wp-block-catenis-blocks-message-history table td {
    word-wrap: normal;
    word-break: normal;
}

div.wp-block-catenis-blocks-message-history table tbody tr.highlight td {
    background-color: aquamarine;
}

div.wp-block-catenis-blocks-message-history table tbody tr td.highlight {
    font-weight: bold;
}
