div.wp-block-catenis-blocks-send-message input[type="text"][name="deviceId"] {
    display: block;
    min-width: 15em;
}

div.wp-block-catenis-blocks-send-message input[type="text"][name="deviceId"].prodUniqueId {
    min-width: 20em;
}

div.wp-block-catenis-blocks-send-message textarea[name="message"] {
    display: block;
}

div.wp-block-catenis-blocks-send-message > div.success {
    display: none;
    margin-top: 2em
}

div.wp-block-catenis-blocks-send-message > div.success > p.success {
    color: dimgray
}

div.wp-block-catenis-blocks-send-message > div.error {
    display: none;
    margin-top: 2em
}

div.wp-block-catenis-blocks-send-message > div.error > p.error {
    color: crimson
}

div.wp-block-catenis-blocks-send-message input[type="submit"]:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}