div.wp-block-catenis-blocks-store-file div.dropzone {
    background-color: transparent;
    position: relative;
}

div.wp-block-catenis-blocks-store-file div.dropcontainer {
    border: 1px solid transparent;
    border-radius: 4px;
    color: black;
    background-color: lightgray;
    padding: 20px 20px;
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    text-align: center;
    position: relative;
    z-index: -1;
}

div.wp-block-catenis-blocks-store-file div.dropcontainer.dragover {
    background-color: aquamarine;
}

div.wp-block-catenis-blocks-store-file div.dropzone > div.dropcontainer > p.instruction {
    color: gray;
    position: relative;
}

div.wp-block-catenis-blocks-store-file div.dropzone > div.dropcontainer > p.selected {
    color: black;
    position: relative;
}

div.wp-block-catenis-blocks-store-file input[type="file"] {
    display: none
}

div.wp-block-catenis-blocks-store-file > div.success {
    display: none;
    margin-top: 2em
}

div.wp-block-catenis-blocks-store-file > div.success > p.success {
    color: dimgray
}

div.wp-block-catenis-blocks-store-file > div.error {
    display: none;
    margin-top: 2em
}

div.wp-block-catenis-blocks-store-file > div.error > p.error {
    color: crimson
}

div.wp-block-catenis-blocks-store-file input[type="submit"]:disabled {
    background-color: lightgray;
    cursor: not-allowed;
}